.navbar{
    display: flex;
    list-style-type: none;
    font-size: 30px;
 justify-content: space-around;
}
.navbar>li{
color: blueviolet;
margin: 10px;
}
.navbar>li>span{
    padding: 20px;
}
.navbar>li>span:hover{
    border:  3px dashed blue;
    border-radius: 6px;
    
}