

<body style="margin:10%; background-color: rgb(148, 207, 247);" ;>
    <div class="tv" style="float:left; width: 100%">
        <div id="term" style="display: grid">
            <pre id="taag_output_text" style="float:left; font-size: 30px;" class="fig"
                contenteditable="true">



             ^        ^         
            /^\______/^\
           /            \
           |             |
           |0     0      |
           ===X===       |)
            \---)       / \
             \_________/   \
             /              \
            / /     | |      \
           / /      | |       )
           \ \      | |        \
           (__)    _|_|_________\      
           ==^==\_(_______________)
            (¨) 
            {_}
             ) 
            (    

 
                            endpoints: 
                                /current
                                /skills
                            ex usage: curl http://localhost:1337/skills
            </pre>
        </div>
    </div>
    <script src="../index.js"></script>

</body>